@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<img src="~/img/layton.jpg" height="500" />
<br />

<div>
    <h1>Layton Utah Temple Tours</h1>
    <a class="col-3 btn btn-primary btn-block" asp-controller="Home" asp-action="SignUp">Sign Up Here!</a><br />
    <p>
        <strong>
            We can only add a limited number of tours at this time. They will be removing the visitors center soon
            so that they can complete the landscaping. When the trailer is gone, we anticipate being able to talk to
            groups on the lawn of the church across the street or at the Morgan's backyard. We are trying to facilitate
            as many groups as possible, so please only sign-up when you can commit to coming on the selected date
            and time. We have a lot of last minute cancellations.
        </strong>
    </p>

    <p>We can do groups on Saturday, please text me at 801-628-4488.</p>
    <p><strong>General Tour Instructions:</strong></p>

    <ul>
        <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
        <li>Dress casual, except on Sunday</li>
    </ul>

    <p><strong>Special Accommodations (check the appropriate box when signing up for a tour):</strong></p>

    <ul>
        <li>Spanish-speaking tours are available, by request.</li>
    </ul>

    <p><strong>Available Tours:</strong></p>
    <ul>
        <li>
            Tour (Outdoors): We will walk on the sidewalk along Oak Hills and on Rosewood in front of
            the temple on uneven surfaces; please wear sturdy shoes
        </li>
        <li>Trailer Tour: On Sunday. Masks are required</li>
    </ul>

    <p><strong>Please call or text 801-628-4488 with questions or special requests.</strong></p>


</div>