
@{
    ViewData["Title"] = "Appointment Sign Up";
}
@model List<Appointment>

<h2>Appointment Sign Up</h2>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Sunday</td>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
                <td>Saturday</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <td><button class="btn btn-primary">@a.Time.ToString("hh:mm tt")</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>


